* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.header {
    background-color: #044700;
    color: #fff;
    padding: 20px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
}

.logo a {
    color: #fff;
    text-decoration: none;
}

h1 {
    font-size: 24px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: auto;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.main {
    padding: 20px;
}

.section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="number"],
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}

.restaurant-list {
    padding: 0;
}

.restaurant-list li {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.restaurant-list li:hover {
    background-color: #e0e0e0;
}

.restaurant-list {
    padding: 0;
}

.restaurant-list li {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.restaurant-list li:hover {
    background-color: #e0e0e0;
}

.menu-selection {
    margin-bottom: 20px;
}

.menu-selection select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
}

.menu-list {
    padding: 0;
}

.menu-list li {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    transition: background-color 0.3s ease;
}

.menu-list li:last-child {
    border-bottom: none;
}

.menu-list li:hover {
    background-color: #f9f9f9;
}
